body{
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  /*
  let browser take all into account when calculating widths based
  on percentages of element's width property  
  */
  box-sizing: border-box;
}